{% if site.google_analytics %}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}', {
  'page_title' : '{{ page.title }}',
  'page_location': '{{ site.baseurl }}{{ page.url }}',
	'page_path': '{{ page.url }}',
	'anonymize_ip': true
});
</script>
	<!-- End Google Analytics -->
{% endif %}
