<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Blog",
      "name": "Dogeminer 2: Devblog 2 The Moon™",
      "about": "Behind the scenes of Dogeminer 2: Back 2 The Moon™",
      "isPartOf": "Game",
      "thumbnailUrl": "https://dogeminer2.com/img/dogeminer2.png",
      "audience": {
        "@type": "PeopleAudience",
        "suggestedMinAge": "8"
      },
      "character": {
        "@type": "Person",
        "name": "Doge"
      },
      "creator": {
        "@type": "Person",
        "name": "rkn",
        "email": "rkn@dogeminer.se"
      },
      "dateCreated": "2018-05-21",
      "description": "Dogeminer 2 game development blog",
      "genre": "Game development"
    }
  </script>